body {
  font-family: helvetica;
}

h1 {
  color: tomato;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.col {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns.
   The percent can be px. It just represents your minimum starting width.
    */
  width: 100px;
  height: 100px;
  margin: 5px;
  background: tomato;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3em;
}

.button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid tomato;
}

.button1:hover {
  background-color: tomato;
  color: white;
}

.align {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.goal {
  color: white;
}

.agent {
  color: black;
}

h2 {
  text-align: center;
}
